.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #490537;
  padding-bottom: 10px;
  width: 260px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    padding-bottom: 20px;
  }
}