.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    justify-content: space-between;
    background-color: #ead0db;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #490537;
}

@media only screen and (min-width: 768px) {
  .item {
    width: 320px;
  }
}

@media only screen and (min-width: 1440px) {
  .item {
    width: 520px;
  }
}

.icon {
    margin-right: 10px;
}

.item p {
   margin-bottom: 10px;
}

.name, .number {
  max-width: 180px;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}

.item button {
    width: 180px;
}

@media only screen and (min-width: 768px) {
  .item button {
    width: 280px;
  }
}

@media only screen and (min-width: 1440px) {
  .item button {
    width: 480px;
  }
}