.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  border: 1px solid #490537;
  margin: 0;
  margin-top: 20px;
  width: 260px;
}

@media only screen and (min-width: 768px) {
  .list {
    width: 360px;
  }
}

@media only screen and (min-width: 1440px) {
  .list {
    width: 560px;
  }
}

.list > li {
  list-style: none;
  width: 100%;
  box-sizing: border-box;
}