.user_menu {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  /* overflow: hidden;
  white-space: normal;
  word-break: break-word; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 200px;
}

/* @media only screen and (min-width: 768px) {
  .user_menu {
    
  }
}

@media only screen and (min-width: 1440px) {
  .user_menu {
    
  }
} */

.user_menu h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  white-space: nowrap;
  margin: 0;
  font-size: 1em;
  color: #490537;
  font-style: italic;
}

.user_menu button {
  width: 80px;
}

/* @media only screen and (min-width: 768px) {
  . {
    
  }
}

@media only screen and (min-width: 1440px) {
  . {
    
  }
} */

